:root {
    --black: #000000;
    --cinza-mais-escuro: #222224;
    --cinza-bem-escuro: #171718;
    --cinza-bem-claro: #cecece;
    --branco: #fff;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
    --amarelinho: #e2d693;

}

* {
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Poppins", sans-serif;
} 

.navbar {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
/*Parte superior fixa*/
.header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background: #000000;
    
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: #aaaaaa;
    border-bottom: 0.3rem solid var(--cinza-bem-claro);
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

/*Login*/
.container-login {
    z-index: 98;
    display: flex;
    height: 100px;
    margin-top: 400px;
    align-items: center;
    justify-content: center;
}

.container-login h1 {
    font-size: 5rem;
    text-align: left;
}

.container-login .text-box input{
    border: 1px solid #000000;
    border-radius: 6px;
    margin: 30px 10px;
    width: 700px;
    height: 50px;
}

