:root {
    --black: #000000;
    --cinza-mais-escuro: #222224;
    --cinza-bem-escuro: #171718;
    --cinza-bem-claro: #cecece;
    --branco: #fff;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
    --amarelinho: #e2d693;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: captalize;
    transition: 0.2s linear;
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
} 

body {
    background-color: var(--black);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

/*Parte superior fixa*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background: #000000;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: #aaaaaa;
    border-bottom: 0.3rem solid var(--cinza-bem-claro);
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: var(--amarelinho);
    color: #000000;
    max-width: 1000rem;
    padding: 1rem 5rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    padding: 1.5rem 6rem;
    letter-spacing: 0.3rem;

}

/*Base com imagem e centro do site*/
.home-container {
    background: url("./img/Design\ sem\ nome\ \(3\).png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    flex-wrap: wrap; 
    gap: 20px;
}


.home-container section {
    height: 100vh;
    display: flex;
    align-items:center;
    margin: 50px;
    min-height: 100vh;
}

.home .conteudo {
    max-width: 60rem;
}

.conteudo h3 {
    color: #ffffff;
    font-size: 7rem;
}

.conteudo p {
    color: #ffffff ;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
    width: 600px;
}

/*Conteudo da segunda parte do site -Sobre */
.Title {
    text-align: center;
    font-size: 7rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.Title span{
    color: var(--amarelinho);
    text-transform: uppercase;
}

.sobre .conteudo2 {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 4rem;
    background-color: var(--cinza-mais-escuro);
    gap: 5rem;
    background-size: cover;
    height: 714px;
}

.sobre .conteudo-sobre-nos h3 {
    font-size: 5rem;
    max-width: 700px;
    color: #fff;
    max-width: 714px;
}

.sobre .conteudo-sobre-nos p {
    font-size: 2rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    padding-right: 15px;
    max-height: 714px;
    max-width: 513px;

}

.sobre .container-img {
    display: block;
    width: 600px;
    height:714px;
}

/* Conteudo terceira parte do site- Produtos*/

.produtos .container-prod {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.produtos .container-prod .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
}

.produtos .container-prod .box:hover {
    background: #cecece;
}

.produtos .container-prod .box h3 {
    color: #fff;
    font-size: 2rem;
}

.produtos .container-prod .box .preco {
    color:#fff;
    font-size: 3rem;
}

.produtos .container-prod .box .preco span {
    padding: 1rem;
    color:#6c6c6c;
    text-decoration: line-through;
    font-weight: lighter;
}

.produtos .container-prod .box:hover>*{
    color: #000000;
}

.produtos .btn1 {
    background: #e2d693;
    padding: 1rem 5rem;
    color:#000000;
    text-align: center;
    font-size: 3rem;
    max-width: 1000rem;
    cursor: pointer;
    width: 50rem;
    height: 5rem;
    margin: 0 auto;
    margin-top: 3rem;
    position: relative;
}

.produtos .btn1:hover {
    padding: 1.5rem 5.5rem 1.5rem;
}